#buttom-save-container.show {
    bottom: 0;
    display: inherit;
    z-index: 1000;
}
#buttom-save-container {
    z-index: 1;
    text-align: center;
    background-color: #dfecf5;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s;
    display: none;
    position: fixed;
    left: 0;
    bottom: -60px;
    opacity: 1;
}

#buttom-save-container .btn {
    margin-top: 10px;
}
.btn.btn-primary.custom_btn {
    border: 0px solid #3c9e47;
    padding: 7px 20px;
    font-weight: bold;
    background-color: #3c9e47;
    color: white;
    background-image: linear-gradient(to right, #7dc242, #3b9d46);
    position: relative;
}