.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-item {
    position: relative;
    padding-left: 15px;
    margin-top: 20px;
    display: inline-grid;
}

.title-item::before, .title-item-small::before {
    border-left: 4px solid #3c9e47;
    border-radius: 10px;
    position: absolute;
    left: 0px;
    top: 5px;
    content: "";
    bottom: 5px;
}
.title-item .des, .title-item-small .des {
    font-size: 14px;
    font-weight: normal;
    color: #444444;
}

.add-round {
    background-color: #15a05c;
    width: 50px;
    border: 0;
    height: 50px;
    border-radius: 25px !important;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15) !important;
    cursor: pointer;
}
/*filter*/
.header-table #filter-count {
    position: absolute;
    top: -15px;
    right: -10px;
    min-width: 20px;
    height: 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #8bc34a;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15) !important;
}
.header-table {
    position: sticky;
    top: 5px;
    z-index: 1;
    padding: 5px 10px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ebeced;
    border-radius: 5px;
    background-color: #f9fafb;
    margin-top: 10px;
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-table .icon {
    position: relative;
    margin-right: 20px;
    padding: 0px 10px;
    border-right: 1px solid #ebeced;
}

.header-table .form-check-inline {
    display: flex;
    margin-right: 0.5rem;
    align-items: center;
    border-radius: 5px;
    border: 0.5px solid #ccc;
    padding: 3px 7px 3px 1.9em;
    text-overflow: ellipsis;
    word-break: break-word!important;
    white-space: nowrap!important;
    background-color: #fff;
    font-size: 13px;
    position: relative;
}
.form-check-input {
    width: 1.3em;
    height: 1.3em;
    margin-right: 10px;
}

.header-table .form-check-inline .form-check-input {
    margin-right: 5px;
    margin-top: 0!important;
}

.form-check-label {
    display: inherit;
    flex: 1;
}

span.count-filter {
    position: absolute;
    right: -5px;
    top: -10px;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    padding: 2px 5px;
    font-size: 11px;
    line-height: 100%;
}

.header-table .form-check-inline:has(> .form-check-input:checked) {
    border: 0.5px solid #0d6efd;
}

/*Table*/

#myTab {
    border-radius: 50px;
    border: 0.5px solid #ccc;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 3%) !important;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    display: inline-flex;
    align-self: center;
    margin: auto;
    overflow: hidden;
    padding: 0;
}

#myTab .nav-item a {
    background-color: #fff;
    border: 0px;
    padding: 15px 30px;
    font-weight: bold;
}

#myTab a.active {
    background-color: #15a05c !important;
    color: #fff;
    height: 100%;
}


.tabulator-row.done-background{
    background-color: #4caf5029!important
}

.tabulator-row.cancel-background{
    background-color: #eeeeee82!important
}
.tabulator-row.enable-background{
    background-color: #ff57220f!important
}

.tabulator.celled {
    border: 1px solid rgba(34,36,38,.15);
}
.tabulator {
    width: 100%;
    margin: 1em 0;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: none;
    border-radius: 0.28571rem;
    color: rgba(0,0,0,.87);
}
.tabulator {
    position: relative;
    background-color: #fff;
    font-size: 13px;
    text-align: left;
    overflow: hidden;
}
.tabulator {
    overflow: visible!important;
}
.tabulator .tabulator-header {
    border-bottom: 1px solid rgba(34,36,38,.1);
    box-shadow: none;
    color: rgba(0,0,0,.87);
    font-style: none;
    font-weight: 700;
    text-transform: none;
}
.tabulator .tabulator-header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.tabulator .tabulator-header {
    font-weight: 600!important;
}

.tabulator .tabulator-header .tabulator-header-contents {
    position: relative;
    overflow: hidden;
}

.tabulator .tabulator-header .tabulator-header-contents .tabulator-headers {
    display: inline-block;
}
.tabulator.celled .tabulator-header .tabulator-col, .tabulator.celled .tabulator-tableholder .tabulator-table .tabulator-row .tabulator-cell {
    border-right: 1px solid rgba(34,36,38,.1);
}
.tabulator .tabulator-header, .tabulator .tabulator-header .tabulator-col {
    border-right: none;
    background-color: #f9fafb;
}
.tabulator .tabulator-header .tabulator-col {
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid #ddd;
    background: #f9fafb;
    text-align: left;
    vertical-align: bottom;
    overflow: hidden;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title-holder {
    position: relative;
}
.tabulator .tabulator-header .tabulator-col .tabulator-col-content {
    padding: 10px 0px!important;
    text-align: center!important;
}
.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
    box-sizing: border-box;
    width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

/*cell*/

.tabulator-row.tabulator-group {
    background: #fafafa;
}
.tabulator-row.tabulator-group {
    box-sizing: border-box;
    border-bottom: 1px solid #999;
    border-right: 1px solid #ddd;
    border-top: 1px solid #999;
    padding: 5px 5px 5px 10px;
    background: #ccc;
    font-weight: 700;
    min-width: 100%;
}
.tabulator-row.tabulator-group {
    box-sizing: border-box;
    border: 0 !important;
    padding: 10px !important;
    background: #dfecf5 !important;
    font-weight: 700;
    min-width: 100%;
}
.tabulator-row {
    border-bottom: 1px solid rgba(34,36,38,.1);
}
.tabulator-row {
    position: relative;
    box-sizing: border-box;
    min-height: 22px;
    background-color: #fff;
}

.tabulator-row.tabulator-row-even {
    background-color: #fff;
}
.tabulator-row.tabulator-row-even {
    background-color: #efefef;
}
.tabulator-row.enable-background {
    background-color: #ff57220f!important;
}
.tabulator-row {
    border-bottom: 1px solid rgba(34,36,38,.1);
}
.tabulator-row {
    position: relative;
    box-sizing: border-box;
    min-height: 22px;
    background-color: #fff;
}

.tabulator.celled .tabulator-header .tabulator-col, .tabulator.celled .tabulator-tableholder .tabulator-table .tabulator-row .tabulator-cell {
    border-right: 1px solid rgba(34,36,38,.1);
}
.tabulator-row .tabulator-cell.tabulator-row-handle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.tabulator .tabulator-cell.move {
    cursor: move !important;
}
.tabulator-row .tabulator-cell {
    padding: 0.78571em 3px;
    vertical-align: middle;
}
.tabulator-row .tabulator-cell {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 4px;
    border-right: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tabulator-cell.move {
    cursor: move;
}
.tabulator-row .tabulator-cell {
    white-space: initial!important;
    word-break: break-word!important;
}

.icon-menu-action {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 100%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box {
    width: 80%;
}
.tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box {
    width: 20px;
    display: inline-block;
}
.tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box .tabulator-row-handle-bar {
    width: 100%;
    height: 3px;
    margin-top: 2px;
    background: #666;
}

.icon-first {
    background-color: #7dc242;
    border-radius: 100%;
    padding: 3px;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: #fff;
    margin: auto;
    position: relative;
}

/* button select */
.tabulator-row .tabulator-cell.tabulator-editing {
    border: 1px solid #1d68cd !important;
    outline: none;
    padding: 0;
    background-color: #E8ECDD;
}
.edit_enable:hover{
    background-color: #E8ECDD;
}
.edit_disable:hover{
    background-color: #FFF4E4;
}
.tabulator-row .tabulator-cell.tabulator-validation-fail {
    border: 1px solid #db2828;
}

.edit_enable {
    cursor: url(../../public/edit_icon.svg) 20 20, auto;
}
.edit_disable{
    cursor: url(../../public/ban_icon.svg) 20 20, auto;
}
.bg_hover:hover{
    background-color: #e8ecdd;
}
/*dropdown*/
.custom_menu {
    height: 150px;
    overflow-y: scroll;
    border-radius: 0px !important;
    min-width:4rem !important;
}
.custom_item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 4px !important;
  }
  
.jRadioDropdown {
    visibility: hidden;
    position: absolute;
    left: 30px;
  }

.active_btn {
    border: 1px solid #007bff !important;
    background-color: #E8ECDD;
  }
  