.swal2-icon.swal2-success {
    border-color: #a5dc86;
}

.swal2-icon.swal2-success {
    border-color: #a5dc86;
    color: #a5dc86;
}
.swal2-icon {
    position: relative;
    justify-content: center;
    width: 5em;
    height: 5em;
    margin: 1.25em auto 1.875em;
    border: 0.25em solid transparent;
    border-radius: 50%;
    line-height: 5em;
    cursor: default;
    box-sizing: content-box;
    zoom: normal;
}
.swal2-icon.swal2-error {
    border-color: #f27474;
}

.swal2-icon.swal2-error {
    border-color: #f27474;
    color: #f27474;
}