.custom_menu_2{
    left: -150% !important;
    /* margin-right: 100px !important; */
    transform: translate(-150%, auto) !important;
}
.custom_item_2{
    border-top: 1px solid gray !important;
    padding: 10px 20px !important;
    display: flex;
    align-items: center;
}
.custom_item_2:hover{
    cursor: pointer;
}